.benefit {
  padding: 100px 0 130px;
  position: relative;
  h2, .subtitle {
    max-width: 750px;
    margin: 0 auto;
  }
  .subtitle {
    padding-top: 15px;
  }
  .item {
    max-width: 300px;
    margin: 0 auto 35px;
    text-align: center;
    .img {
      display: flex;
      height: 110px;
      justify-content: center;
      align-items: flex-end;
    }
    .title {
      padding: 20px 0 15px;
      font-size: 18px;
      color: currentColor;
      font-weight: 700;
    }
    .text {
      font-size: 16px;
      line-height: 1.4;
      color: rgb(102,102,102);
      font-weight: 300;
    }
  }
  @include media-breakpoint-down(lg) {

  }

  @include media-breakpoint-down(md) {
    padding: 50px 0;
    .item {
      margin: 0 auto 25px;
      .img {
        height: 90px;
      }
      .title {
        padding: 20px 0 15px;
        font-size: 16px;
      }
      .text {
        font-size: 14px;
        line-height: 1.3;
      }
    }
  }

  @include media-breakpoint-down(sm) {

  }

  @include media-breakpoint-down(xs) {
    .item {
      margin: 0 auto 15px;
      .img {
        height: 70px;
        img {
          transform: scale(0.8);
        }
      }
      .title {
        padding: 10px 0 10px;
        font-size: 14px;
        line-height: 1.2;
      }
      .text {
        font-size: 12px;
        line-height: 1.2;
      }
    }
  }
}