.workers {
  padding: 120px 0 50px;
  h2 {


  }
  .slider-wrapper {
    max-width: 1100px;
    width: 100%;
    padding: 0;
    top: auto;
    background: transparent;
    box-shadow: none;
    margin: 7px auto;
    .item {
      width: 300px;
      margin: 60px 33px;
      height: 444px;
      border-radius: 10px;
      box-shadow: 0px 11px 40px rgba(0,0,0,0.05);
      background-color: #ffffff;
      text-align: center;
      overflow: hidden;
      >.img {
        width: 100%;
        height: 304px;
        box-shadow: 0px 11px 57px rgba(0,0,0,0.05);
        padding: 0;
        background: none;
      }
      >.title {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 40px 0 5px;
      }
      >.subtitle {
        font-size: 14px;
        line-height: 1.5;
        color: rgb(191,191,191);
      }
    }
    .owl-carousel {
      .owl-nav .owl-next {
        right: -5px;
      }
      .owl-nav .owl-prev {
        left: -5px;
      }
      .owl-nav .owl-next,
      .owl-nav .owl-prev {
        top: 42%;
      }
      .owl-dots {
        margin-top: -25px;
      }
    }
  }
}